/*
    Stylesheet for the blog tools

    author: Mohak Shrivastava (A00445470)
    author: Naziya Tasnim (A00447506)
    author: Sheikh Saad Abdullah (A00447871)
*/

/* --------------------------- Global Styles ---------------------------
    Variables to DRY styles and other global style initializations

    author: Sheikh Saad Abdullah (A00447871)
------------------------------------------------------------------------ */
:root {
    --grid-ratio: 1fr;

    --kbd-rows: 4;
    --kbd-cols: 12;

    --key-size: 0px;
    --key-sp-width: span 2;

    --bl-rows: 2;
    --bl-cols: 3;
    --bl-width: 100px;
    --bl-height: 30px;
}

[x-cloak] {
    display: none !important;
}

/* ----------------------------- Blog List -----------------------------
    Style rules for the list of blogs and toggle buttons

    author: Mohak Shrivastava (A00445470)
------------------------------------------------------------------------ */
.form-switch .form-check-input[type="checkbox"] {
    width: var(--bl-width);
    height: var(--bl-height);
}

.blog-list {
    width: 0;

    grid-template-rows: repeat(var(--bl-rows) var(--grid-ratio));
    grid-template-columns: repeat(var(--bl-cols) var(--grid-ratio));
}

.bl-header {
    grid-row: 1;
    margin-bottom: -4px;
}

/* --------------------------- Keyboard Grid ---------------------------
    Style rules for the keyboard grid and special keys

    author: Naziya Tasnim (A00447506)
------------------------------------------------------------------------ */
#kbd {
    width: calc(var(--key-size) * var(--kbd-cols));
    height: calc(var(--key-size) * var(--kbd-rows));

    grid-template-columns: repeat(var(--kbd-cols), var(--grid-ratio));
    grid-template-rows: repeat(var(--kbd-rows), var(--grid-ratio));
}

#shift {
    grid-row: 1;
    grid-column: 11 / var(--key-sp-width);
}

#delete {
    grid-row: 2;
    grid-column: 11 / var(--key-sp-width);
}

#return {
    grid-row: 3;
    grid-column: 10 / var(--key-sp-width);
}

#space {
    grid-row: 4;
    grid-column: 8 / var(--key-sp-width);
}
