/*
    Stylesheet for the blog tools

    CSCI-2356 Project: Phase 1

    author: Mohak Shrivastava (A00445470)
    author: Nayem Imtiaz (A00448982)
    author: Naziya Tasnim (A00447506)
    author: Sheikh Saad Abdullah (A00447871)
*/

/* --------------------------- Global Styles ---------------------------
    Variables to DRY styles and other global style initializations

    author: Sheikh Saad Abdullah (A00447871)
------------------------------------------------------------------------ */
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --grid-ratio: 1fr;

    --btn-grp-size-popup: 1.5;

    --bl-rows: 2;
    --bl-cols: 3;

    --bl-width: 100px;
    --bl-height: 30px;

    --kbd-rows: 6;
    --kbd-cols: 12;

    --key-size: 0px;
    --key-size-popup: 2;
    --key-sp-width: span 2;
    --key-font-size: 1.25em;
    --key-transition-duration: 0.15s;
}

[x-cloak] {
    display: none !important;
}

.btn {
    font-weight: bold;
    font-size: var(--key-font-size);
}

.btn:hover {
    transition: transform var(--key-transition-duration);
    transform: scale(var(--key-size-popup), var(--key-size-popup));
}

/* ----------------------------- Blog List -----------------------------
    Style rules for the list of blogs and toggle buttons

    author: Nayem Imtiaz (A00448982)
------------------------------------------------------------------------ */
textarea {
    resize: none;
}

.btn-save {
    color: var(--bs-black);
    background-color: #f8d7da;
    border-top-color: var(--bs-red);
    border-left-color: var(--bs-red);
    border-bottom-color: var(--bs-red);
}

.btn-cancel {
    color: var(--bs-black);
    background-color: #fff3cd;
    border-top-color: var(--bs-yellow);
    border-right-color: var(--bs-yellow);
    border-bottom-color: var(--bs-yellow);
}

.btn-save:hover {
    background-color: #f1aeb5;
}

.btn-cancel:hover {
    background-color: #ffda6a;
}

.btn-save:hover,
.btn-cancel:hover {
    border-color: #052c65;
    transform: scale(var(--btn-grp-size-popup), var(--btn-grp-size-popup));
}

/* ----------------------------- Blog List -----------------------------
    Style rules for the list of blogs and toggle buttons

    author: Mohak Shrivastava (A00445470)
------------------------------------------------------------------------ */
.form-switch .form-check-input[type="checkbox"] {
    height: var(--bl-height);
    width: var(--bl-width);
}

.bl-header {
    font-weight: bold;
    color: var(--bs-red);
}

/* --------------------------- Keyboard Grid ---------------------------
    Style rules for the keyboard grid and special keys

    author: Naziya Tasnim (A00447506)
------------------------------------------------------------------------ */
.kbd {
    width: calc(var(--key-size) * var(--kbd-cols));
    height: calc(var(--key-size) * var(--kbd-rows));

    grid-template-columns: repeat(var(--kbd-cols), var(--grid-ratio));
    grid-template-rows: repeat(var(--kbd-rows), var(--grid-ratio));
}

/* Keys */
.kbd button.kbd-char {
    color: var(--bs-black);
    background-color: antiquewhite;
}

.kbd button.kbd-char:hover {
    color: var(--bs-white);
    border-color: antiquewhite;
    background-color: var(--bs-red);
}

.kbd-sp {
    color: var(--bs-black);
    border-color: #052c65;
    background-color: #cfe2ff;
    grid-column: 11 / var(--key-sp-width);
}

.kbd-sp:hover {
    color: var(--bs-white);
    background-color: #052c65;
    transform: scale(1.5, var(--key-size-popup));
}

#kbd-caps {
    grid-row: 1;
}

#kbd-shift {
    grid-row: 2;
}

#kbd-del {
    grid-row: 3;
}

#kbd-cr {
    grid-row: 4;
}

#kbd-spc {
    grid-row: 5;
    grid-column: 1 / calc(var(--kbd-cols) - 2);
}

#kbd-spc:hover {
    transform: scale(1.1, var(--key-size-popup));
}

/* Word Suggestions */
button.kbd-wb {
    color: var(--bs-black);
    border-color: var(--bs-gray);
    background-color: #ced4da;
}

button.kbd-wb:hover {
    color: var(--bs-white);
    background-color: var(--bs-gray);
    transform: scale(1.5, var(--key-size-popup));
}

.kbd-wb {
    grid-row: var(--kbd-rows);
}

#suggest-l {
    grid-column: 1 / span 2;
}

#suggest-r {
    grid-column: 7 / span 2;
}

#fav-r {
    grid-column: 12 / span 1;
}

#fav-l {
    grid-column: 6 / span 1;
}

#fav-l:hover,
#fav-r:hover {
    transform: scale(var(--key-size-popup), var(--key-size-popup));
}

#wb-l {
    grid-column: 3 / span 3;
}

#wb-r {
    grid-column: 9 / span 3;
}
