/*
    Stylesheet for the blog tools

    CSCI-2356 Project: Phase 1

    author: Mohak Shrivastava (A00445470)
    author: Naziya Tasnim (A00447506)
    author: Sheikh Saad Abdullah (A00447871)
*/

/* --------------------------- Global Styles ---------------------------
    Variables to DRY styles and other global style initializations

    author: Sheikh Saad Abdullah (A00447871)
------------------------------------------------------------------------ */
:root {
    --grid-ratio: 1fr;

    --kbd-rows: 6;
    --kbd-cols: 12;

    --key-size: 0px;
    --key-sp-width: span 2;

    --bl-rows: 2;
    --bl-cols: 3;

    --bl-width: 100px;
    --bl-height: 30px;
}

[x-cloak] {
    display: none !important;
}

.btn {
    font-weight: bold;
    font-size: 1.25em;
}

.btn-danger:hover {
    color: var(--bs-black);
    background-color: var(--bs-yellow);
}

.btn-warning:hover {
    color: var(--bs-white);
    background-color: var(--bs-red);
}

.btn-dark:hover {
    background-color: var(--bs-gray);
}

/* ----------------------------- Blog List -----------------------------
    Style rules for the list of blogs and toggle buttons

    author: Mohak Shrivastava (A00445470)
------------------------------------------------------------------------ */
.form-switch .form-check-input[type="checkbox"] {
    height: var(--bl-height);
    width: var(--bl-width);
}

.bl-header {
    color: var(--bs-blue);
}

/* --------------------------- Keyboard Grid ---------------------------
    Style rules for the keyboard grid and special keys

    author: Naziya Tasnim (A00447506)
------------------------------------------------------------------------ */
.kbd {
    width: calc(var(--key-size) * var(--kbd-cols));
    height: calc(var(--key-size) * var(--kbd-rows));

    grid-template-columns: repeat(var(--kbd-cols), var(--grid-ratio));
    grid-template-rows: repeat(var(--kbd-rows), var(--grid-ratio));
}

/* Keys */
.kbd-sp {
    grid-column: 11 / var(--key-sp-width);
}
#kbd-caps {
    grid-row: 1;
}

#kbd-shift {
    grid-row: 2;
}

#kbd-del {
    grid-row: 3;
}

#kbd-cr {
    grid-row: 4;
}

#kbd-spc {
    grid-row: 5;
    grid-column: 1 / calc(var(--kbd-cols) - 2);
}

/* Word Suggestions */
.kbd-wb {
    grid-row: var(--kbd-rows);
}

#suggest-l {
    grid-column: 1 / span 2;
}

#suggest-r {
    grid-column: 7 / span 2;
}

#fav-r {
    grid-column: 12 / span 1;
}

#fav-l {
    grid-column: 6 / span 1;
}

#wb-l {
    grid-column: 3 / span 3;
}

#wb-r {
    grid-column: 9 / span 3;
}
